<ion-view view-title="Connect">
  <ion-content>
      <ion-item class="item item-input item-select" ng-click="refreshDeviceList()">
        <div class="input-label">
          Device
        </div>
        <select>
            <option ng-repeat="device in devicesList">{{device.name}}</option>
        </select>
      </ion-item>
      <ion-item ng-repeat="device in devicesList">
          Device name: {{device.name}}
      </ion-item>
      <ion-item>
          status: {{status.message}}
      </ion-item>
  </ion-content>
</ion-view>
