<ion-view>
  <ion-content class="main-screen">
      <ion-item>
          <div class="row temperature">
              <div class="col col-center">
                  <h2>Average<br/>Temperature</h2>
              </div>
              <div class="col col-center col-50">
                  <h1>24<span> °C</span></h1>
              </div>
          </div>
      </ion-item>
      <ion-list>
          <ion-item ng-repeat="scout in scouts" href="#/app/scout/{{scout}}">
              <div class="row">
                  <div class="col col-20">
                      <h1>{{scout.id}}</h1>
                  </div>
                  <div class="col labels">
                      <h2><strong>Name: </strong></h2>
                      <h2><strong>Temperature: </strong></h2>
                      <h2><strong>Power: </strong></h2>
                      <h2><strong>Automatic: </strong></h2>
                      <h2><strong>Quiet: </strong></h2>
                      <h2><strong>Delay Time: </strong></h2>
                  </div>
                  <div class="col values">
                      <h2>{{scout.name}}</h2>
                      <h2>{{scout.temperature}} °C</h2>
                      <h2>{{scout.power}}</h2>
                      <h2>{{scout.automatic}}</h2>
                      <h2>{{scout.quiet}}</h2>
                      <h2>{{scout.delayTime / 60}} minutes</h2>
                  </div>
              </div>
          </ion-item>
      </ion-list>
  </ion-content>
</ion-view>
