<ion-view hide-nav-bar="true" view-title="Sync">
  <ion-content class="welcome-screen">
      <ion-item>
          <h1 class="title">{{status}}</h1>
		  <i class="icon ion-bluetooth large-icons"></i>
      </ion-item>
<!--
      <ion-item ng-click="sendCommand('triggerScout;0,turnOn;')">
          triggerScout;0,turnOn;
      </ion-item>
      <ion-item ng-click="sendCommand('triggerScout;0,turnOff;')">
          triggerScout;0,turnOff;
      </ion-item>
      <ion-item ng-click="sendCommand('setValueForScoutFromHardwareSerial;0,changeDelayTime;10;')">
          Change Delay Time to 10 seconds
      </ion-item>
      <ion-item ng-click="sendCommand('setNewHvacScout;mi scoutcito,0;')">
          Crear HVAC Scout 1
      </ion-item>
      <ion-item ng-click="sendCommand('setNewHvacScout;scout de nadiesn,1;')">
          Crear HVAC Scout 2
      </ion-item>
      <ion-item ng-click="getHvacScouts()">
          Get Scouts
      </ion-item>
-->
  </ion-content>
</ion-view>
