<ion-view hide-nav-bar="true" view-title="Welcome">
  <ion-content class="welcome-screen">
	  <ion-item>
		  <h1 class="title">Welcome</h1>
		  <p>In order to configure your HVAC Controller by the first time
		  please pair the Master Device with your smartphone/tablet
		  and then click on the next button.</p>
		  <i class="icon ion-bluetooth large-icons"></i>
	  </ion-item>
	  </ion-item>
	  <ion-item class="item-icon-right" ng-click="enableBuetooth()">
		  <i class="icon ion-ios-arrow-forward"></i>
		  Next
	  </ion-item>
  </ion-content>
</ion-view>
