.welcome-screen h1 {
	margin-top: 25%;
	text-align: center;
	white-space: normal;
}
.welcome-screen p {
	white-space: normal;
	text-align: justify;
}
.welcome-screen i.large-icons {
	margin: 5% 0;
	display: block;
	text-align: center;
	font-size: 10rem;
}
.main-screen .temperature h1 {
    font-size: 4rem;
    text-align: right;
}
.main-screen .temperature span {
    font-size: 3rem;
}
.main-screen .temperature h2 {
    font-size: 1.5rem;
    text-align: right;
}
.main-screen .badge {
    margin-right: 80%;
}
.main-screen .labels {
    text-align: right;
}
.main-screen .values {
    text-align: left;
}

.scout-screen img {
    width: 5rem;
}